/target

/tests/*

releases/
venv/

*.nn
*.nnue
*.csv

# Ignoring the binary produced by makefile
roxie*

!tests/README.md
!tests/chess_moves.pgn
!tests/match.py
!tests/sample_positions.csv
!src/*.nnue
